
//--Import des fichiers partiels

@import './variables';
@import './mixins';
@import './placeholders';

/*
//-- Principales
$bleu-navy-principal:#000080;
$bleu-navy-secondaire:#3232da;

//-- Utilitaires Couleurs
$fond-clair: #fbfaf9;
$fond-alerte: #ff4242;
$fond-neutre: #7284a8;
$fond-succes: #3ab795;

//-- Texte
$txt-fond-clair: #12130f;
$txt-fond-sombre: #fbfef9;

//-- Utilitaires Position / Dimensions
$radius-btn: 5px;
$padding-txt: 10px;
*/
/*
body{
    height: 100vh;
    @extend %flex-center;
}

h1{
    text-align: center;
    font-size: 80px;
    color: $bleu-navy-principal;
    @extend %flex-center;
}
.box{
    width: 200px;
    height: 200px;
    background: $bleu-navy-principal;
    @include absolute-el(50%,0,0,50%,-50%,-50%);

    @include triangle(#f00,10px)
}
*/


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(246, 239, 239);  
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

//---- Barre de navigation ---------------
.navbar{
    display: flex;
    justify-content: space-evenly;  
    background-color: rgba(11, 11, 116,0.9); 
    height: 50px; 
    align-items: center;

    ul{
        display: flex;        
    }

    li{
        list-style-type:square;
        color: antiquewhite;
        font-size: 1rem;
        font-weight: 300;
        margin: 0 30px;
    }
}
.logo{
    width: 30px;
    margin: 0 10px;
    cursor: pointer;
    filter: grayscale(80%); /*rendre les image en noir sur blanc*/
    transition: 0.5s;

    &:hover{
        filter: grayscale(0); 
        transform:translateY(-5px);
    }
}


//--- Deuxième barre de menu --------

.logo_codeur{
    width: 150px;
}
.navbar_2{    
    display: flex;
    justify-content: space-evenly;  
    background-color: rgb(252, 252, 254); 
    height: 80px; 
    align-items: center;

    ul{
        display: flex;        
    }

    li{
        list-style-type:none;
        color: #626161;
        font-size: 1.1rem;
        font-weight:600;  
        margin: 0 20px;      
    }
}
.menu_secondaire{
    display: flex; 
    align-items: center;    
}
.bouton_sans_libelle{
    height: 40px;
    width: 40px;
    border: 2px solid rgb(41, 78, 241);
    border-radius: 20px;
}
.bouton_Newsletter{
    color: rgb(252, 252, 254);
    font-size: 1.1rem;
    font-weight:600;  
    background-color: rgb(41, 78, 241);
    padding: 10px 20px;
    border-radius: 30px;
    margin-left: 20px;
}

//-------- Titre ------------
.cadre_titre{
    display: flex;    
    justify-content: center;
    margin: 30px 0;
}
.sous_cadre_titre{
    display: flex;
    flex-direction: column;
    justify-content:center;  
    background-color: black;
    height: 80px*3; 
    align-items: center;
    width: 70%;
    border-radius: 30px;
}

h1{
    color: rgb(252, 252, 254);
}
.bouton_Trouver_freelance{
    @extend .bouton_Newsletter;
    background-color: rgb(74, 74, 78); 
    margin-top: 20px;           
}


.bouton_sans_libelle_gauche1{ background-color: #4a2bf8;border: none;margin: 10px;}
.bouton_sans_libelle_gauche2{ background-color: #84aaf0;border: none;margin: 10px;}
.bouton_sans_libelle_gauche3{ background-color: #f25656;border: none;margin: 10px;}
.bouton_sans_libelle_gauche4{ background-color: #bc0a0a;border: none;margin: 10px;}
.bouton_sans_libelle_gauche5{ background-color: #3cd880;border: none;margin: 10px;}
.bouton_sans_libelle_gauche6{ background-color: #cabcbc;border: none;margin: 10px;}
.bouton_sans_libelle_gauche7{ background-color: #d944b1;border: none;margin: 10px;}

.cadre{
    width: 100%;
    display: flex;    
    justify-content: center;
    margin: 30px 0;    
}
.conteneur_principal{
    width: 70%;
    display: flex;    
    justify-content: center;    
}
.sous_conteneur_principal{
    display: flex; 
    justify-content: space-between;
    width: 100%;
}
.colone_gauche{
    border-radius: 20px;
    background-color: #fff;//rgb(252, 252, 254);
    padding: 10px;       
}

.colone_centre{
    border-radius: 20px;
    background-color: #fff;//rgb(252, 252, 254);       
    width: 65%;
}
.colone_droite{
    border-radius: 20px;
    background-color: #fff;//rgb(252, 252, 254);       
    width: 25%;
}

//-- Colonne centre ------------
.titre_conteneur_principal{
    font-size: 3rem;
    font-weight: 600;
    margin-left: 60px;
}
.colone_centre{  
    padding-top: 30px;
    a{
        color:#4a2bf8;
        text-decoration: none;        
    }
    img{
        width: 100%;
        margin-top: 30px;
    }
}
.colone_centre small{margin-left: 60px;}
.colone_centre ul{
    display: flex;
    margin-left: 80px;
    list-style:square;
    
    li{
       margin-right: 30px;       
    }
}






