
//--Import des fichiers partiels

@import './variables';
@import './mixins';
@import './placeholders';

/*
//-- Principales
$bleu-navy-principal:#000080;
$bleu-navy-secondaire:#3232da;

//-- Utilitaires Couleurs
$fond-clair: #fbfaf9;
$fond-alerte: #ff4242;
$fond-neutre: #7284a8;
$fond-succes: #3ab795;

//-- Texte
$txt-fond-clair: #12130f;
$txt-fond-sombre: #fbfef9;

//-- Utilitaires Position / Dimensions
$radius-btn: 5px;
$padding-txt: 10px;
*/
/*
body{
    height: 100vh;
    @extend %flex-center;
}

h1{
    text-align: center;
    font-size: 80px;
    color: $bleu-navy-principal;
    @extend %flex-center;
}
.box{
    width: 200px;
    height: 200px;
    background: $bleu-navy-principal;
    @include absolute-el(50%,0,0,50%,-50%,-50%);

    @include triangle(#f00,10px)
}
*/
.navbar{
    
    ul{
        display: flex;
        justify-content: flex-start;  
        height: 50px;         
    }
    li{        
        list-style: none;
        padding-right: 20px;
    }
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:rgb(38, 250, 14),$backgroundColor:rgb(240, 250, 14),$width_:100%,$height:50px);    
}
.container{
    padding: 0;
    margin: 0;
    @extend %flex-center;
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:rgb(38, 250, 14),$backgroundColor:rgb(240, 250, 14),$width_:100%,$height:100vh);
}
.col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;  
    margin: 10px;  
}
body{
    padding: 0;
    margin: 0;
    justify-content: center; /*Centrer les éléments de la page*/
    font-family: 'Poppins', sans-serif; /*famille de police àutiliser venant de Google fonts*/
}
.left_col{
    width: 20%;
}
.right_col{
    width: 70%;
}

.child_1{
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:black,$backgroundColor:$fond-clair,$width_:100%,$height:30%);
}
.child_2{
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:black,$backgroundColor:$fond-alerte,$width_:100%,$height:70%);
}
.child_3{    
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:black,$backgroundColor:$fond-neutre,$width_:100%,$height:80%);
    min-width: 200px;
}
.child_4{
    margin: 10px;
    @extend %flex-center;
    @include bordure_couleur_fond($borderWeight:0px,$borderColor:black,$backgroundColor:transparent,$width_:100%,$height:20%);
}
.left_child{
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:black,$backgroundColor:$fond-succes,$width_:50%,$height:100%);
}
.right_child{
    @include bordure_couleur_fond($borderWeight:1px,$borderColor:black,$backgroundColor:rgb(243, 17, 17),$width_:50%,$height:100%);
}




@media screen and (max-width:860px){
   %dim{
        padding: 0;
        margin: 0;
        width: 340px;
        display: inline-block;                
   }
   
   .container,.child_4{
        @extend %dim;
   }

    .left_col,.right_col,.child_1,.child_2,.child_3,.child_4,.left_child,.right_child{        
        width: 100%;
        padding: 0;
        margin: 5px 0;
        //flex-basis: 330px;
    }
}






