@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #dde1e7;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main, .conteneur_footer {
  width: calc(100% - 40px);
  max-width: 1160px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(11, 11, 116, 0.9);
  height: 50px;
  align-items: center;
}
.navbar ul {
  display: flex;
}
.navbar li {
  list-style-type: square;
  color: antiquewhite;
  font-size: 1rem;
  font-weight: 300;
  margin: 0 30px;
}

.logo {
  width: 30px;
  margin: 0 10px;
  cursor: pointer;
  filter: grayscale(80%); /*rendre les image en noir sur blanc*/
  transition: 0.5s;
}
.logo:hover {
  filter: grayscale(0);
  transform: translateY(-5px);
}

.logo_codeur {
  width: 150px;
}

.navbar_2 {
  display: flex;
  justify-content: space-evenly;
  background-color: rgb(252, 252, 254);
  height: 80px;
  align-items: center;
  box-shadow: 0px 5px 3px #c8c4c4;
}
.navbar_2 ul {
  display: flex;
}
.navbar_2 li {
  list-style-type: none;
  color: #626161;
  font-size: 1.1rem;
  font-weight: 600;
  margin: 0 20px;
}

.menu_secondaire {
  display: flex;
  align-items: center;
}

.bouton_sans_libelle {
  height: 40px;
  width: 40px;
  border: 2px solid rgb(41, 78, 241);
  border-radius: 20px;
}

.bouton_Newsletter, .bouton_Trouver_freelance {
  color: rgb(252, 252, 254);
  font-size: 1.1rem;
  font-weight: 600;
  background-color: rgb(41, 78, 241);
  padding: 10px 20px;
  border-radius: 30px;
  margin-left: 20px;
}

.section_titre {
  height: 240px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: black;
  border-radius: 30px;
  margin: 30px 0px;
}

h1 {
  color: rgb(252, 252, 254);
  font-size: 2rem;
}

.bouton_Trouver_freelance {
  background-color: rgb(74, 74, 78);
  padding: 20px;
}

.contenuer_principal {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  margin-bottom: 30px;
}

.bouton_sans_libelle_gauche1 {
  background-color: #4a2bf8;
  border: none;
}
.bouton_sans_libelle_gauche1:hover {
  background: #180486;
}

.bouton_sans_libelle_gauche2 {
  background-color: #84aaf0;
  border: none;
}
.bouton_sans_libelle_gauche2:hover {
  background: #1854c3;
}

.bouton_sans_libelle_gauche3 {
  background-color: #f25656;
  border: none;
}
.bouton_sans_libelle_gauche3:hover {
  background: #a30d0d;
}

.bouton_sans_libelle_gauche4 {
  background-color: #bc0a0a;
  border: none;
}
.bouton_sans_libelle_gauche4:hover {
  background: #2b0202;
}

.bouton_sans_libelle_gauche5 {
  background-color: #3cd880;
  border: none;
}
.bouton_sans_libelle_gauche5:hover {
  background: #156738;
}

.bouton_sans_libelle_gauche6 {
  background-color: #cabcbc;
  border: none;
}
.bouton_sans_libelle_gauche6:hover {
  background: #846969;
}

.bouton_sans_libelle_gauche7 {
  background-color: #d944b1;
  border: none;
}
.bouton_sans_libelle_gauche7:hover {
  background: #6e1656;
}

.menu_gauche {
  width: 6%;
  height: 369px;
  border-radius: 20px;
  background-color: #fff;
  min-width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.section_contre {
  width: 65%;
  min-width: 360px;
}

.menu_droit {
  width: 25%;
  height: 760px;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  top: -250px;
}

.menu_droit3, .menu_droit1 {
  width: 100%;
  height: 240px;
  border-radius: 20px;
}

.menu_droit1 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #fff;
}
.menu_droit1 p {
  padding: 0px 30px;
  font-size: 1rem;
}
.menu_droit1 .decouvrir_mon_salaire {
  font-size: 1rem;
  font-weight: 300;
}

.menu_droit2 {
  padding: 10px;
  width: 100%;
  height: 280px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}
.menu_droit2 p {
  text-align: left;
  font-size: 1rem;
}
.menu_droit2 .trouver_un_developpeur_web {
  font-size: 0.9rem;
  font-weight: 300;
}
.menu_droit2 hr {
  border: 0.5px solid rgba(68, 68, 68, 0.2);
  width: 100%;
}

.menu_droit3 {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #1d1189;
}
.menu_droit3 p {
  padding: 0px 10px;
  font-size: 1.1rem;
  color: #fff;
}
.menu_droit3 input[type=email] {
  height: 50px;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 10px;
  padding-left: 10px;
}
.menu_droit3 input[type=submit] {
  height: 50px;
  border-radius: 20px;
  width: 100%;
  background-color: rgb(41, 78, 241);
  color: #fff;
}
.menu_droit3 form {
  width: 100%;
  padding: 0px 20px;
}

.article, .publicite {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  margin-bottom: 30px;
}

.titre_conteneur_principal {
  font-size: 3rem;
  font-weight: 600;
  padding: 30px 0px;
}

.titre_article {
  padding: 40px 60px;
}
.titre_article a {
  color: #4a2bf8;
  text-decoration: none;
}

.site-vitrine-740x447 img {
  width: 100%;
}

.titre_article ul {
  display: flex;
  list-style: square;
  margin-left: 30px;
}
.titre_article ul li {
  margin-right: 30px;
}

.contenu_article {
  padding: 60px;
}
.contenu_article .paragraph {
  padding-top: 30px;
}

.cadre_text_encadre {
  position: relative;
  border: 2px solid rgba(68, 68, 68, 0.2);
  border-radius: 20px;
  padding: 30px 20px;
}

.bouton_sur_cadre {
  height: 40px;
  width: 40px;
  background-color: #4a2bf8;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  position: absolute;
  top: -20px;
  left: -20px;
}

.publicite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
}

.row_carreaux_publicite {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 20px 0px;
}

.col_carreaux_publicite_1, .col_carreaux_publicite_2 {
  height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0px 20px;
  border-radius: 20px;
  box-shadow: 3px 3px 3px 3px #626161;
  width: 47%;
  min-width: 200px;
}

.para_pub_top {
  color: #5583f8;
  font-weight: 600;
  text-shadow: 10px 10px 10px rgba(78, 73, 3, 0.8);
}

.offre_pub {
  font-size: 2rem;
  font-weight: 900;
}

.para_pub_bottom {
  color: darkkhaki;
  font-weight: bold;
  text-shadow: 10px 10px 10px rgba(78, 73, 3, 0.8);
}

.bouton_publier_annonce {
  height: 50px;
  border-radius: 20px;
  background-color: black;
  color: #fff;
  font-size: 1rem;
  padding: 15px 20px;
  margin-top: 20px;
}

.row_article_similaire {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.col_article_similaire_1, .col_article_similaire_2 {
  width: 365px;
  height: 370px;
}

.top_col_article_similaire {
  width: 100%;
  height: 50%;
}
.top_col_article_similaire img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 100%;
}

.bottom_col_article_similaire {
  width: 100%;
  height: 50%;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  background-color: #fff;
  padding: 0px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.bottom_col_article_similaire .titre_article_similaire {
  font-size: 1.5rem;
  font-weight: 800;
}
.bottom_col_article_similaire ul {
  display: flex;
  list-style: square;
  margin-left: 20px;
}
.bottom_col_article_similaire li {
  margin-right: 40px;
}
.bottom_col_article_similaire:hover {
  color: #11893d;
}

.bottom_col_article_similaire_1 {
  background-color: #4a2bf8;
  color: #fff;
}

/*Carroussel*/
.carroussel {
  width: 100%;
  height: 550px;
  border-radius: 20px;
  background-color: #9ccae2;
  padding: 0px 50px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.carroussel h2 {
  text-align: center;
}

.conteneur_carroussel {
  width: 100%;
  overflow: hidden;
}

.image_carroussel {
  display: flex;
  animation-duration: 10s;
  animation-name: defile_profil;
  animation-iteration-count: infinite;
  animation-direction: normal;
}
.image_carroussel img {
  width: 200px;
  margin: 10px;
  border-radius: 30px;
}
.image_carroussel:hover {
  animation-play-state: paused;
}

@keyframes defile_profil {
  /*0%{transform: translateX(0px);}
  25%{transform: translateX(0px);}
  50%{transform: translateX(-200px);}
  60%{transform: translateX(-200px);}
  75%{transform: translateX(-600px);}
  90%{transform: translateX(-200px);}
  100%{transform: translateX(-200px);}*/
  0% {
    transform: translateX(0px);
  }
  0% {
    transform: translateX(0px);
  }
  1% {
    transform: translateX(-10px);
  }
  1% {
    transform: translateX(-10px);
  }
  2% {
    transform: translateX(-20px);
  }
  2% {
    transform: translateX(-20px);
  }
  3% {
    transform: translateX(-30px);
  }
  3% {
    transform: translateX(-30px);
  }
  4% {
    transform: translateX(-40px);
  }
  4% {
    transform: translateX(-40px);
  }
  5% {
    transform: translateX(-50px);
  }
  5% {
    transform: translateX(-50px);
  }
  6% {
    transform: translateX(-60px);
  }
  6% {
    transform: translateX(-60px);
  }
  7% {
    transform: translateX(-70px);
  }
  7% {
    transform: translateX(-70px);
  }
  8% {
    transform: translateX(-80px);
  }
  8% {
    transform: translateX(-80px);
  }
  9% {
    transform: translateX(-90px);
  }
  9% {
    transform: translateX(-90px);
  }
  10% {
    transform: translateX(-100px);
  }
  10% {
    transform: translateX(-100px);
  }
  11% {
    transform: translateX(-110px);
  }
  11% {
    transform: translateX(-110px);
  }
  12% {
    transform: translateX(-120px);
  }
  12% {
    transform: translateX(-120px);
  }
  13% {
    transform: translateX(-130px);
  }
  13% {
    transform: translateX(-130px);
  }
  14% {
    transform: translateX(-140px);
  }
  14% {
    transform: translateX(-140px);
  }
  15% {
    transform: translateX(-150px);
  }
  15% {
    transform: translateX(-150px);
  }
  16% {
    transform: translateX(-160px);
  }
  16% {
    transform: translateX(-160px);
  }
  17% {
    transform: translateX(-170px);
  }
  17% {
    transform: translateX(-170px);
  }
  18% {
    transform: translateX(-180px);
  }
  18% {
    transform: translateX(-180px);
  }
  19% {
    transform: translateX(-190px);
  }
  19% {
    transform: translateX(-190px);
  }
  20% {
    transform: translateX(-200px);
  }
  20% {
    transform: translateX(-200px);
  }
  21% {
    transform: translateX(-210px);
  }
  21% {
    transform: translateX(-210px);
  }
  22% {
    transform: translateX(-220px);
  }
  22% {
    transform: translateX(-220px);
  }
  23% {
    transform: translateX(-230px);
  }
  23% {
    transform: translateX(-230px);
  }
  24% {
    transform: translateX(-240px);
  }
  24% {
    transform: translateX(-240px);
  }
  25% {
    transform: translateX(-250px);
  }
  25% {
    transform: translateX(-250px);
  }
  26% {
    transform: translateX(-260px);
  }
  26% {
    transform: translateX(-260px);
  }
  27% {
    transform: translateX(-270px);
  }
  27% {
    transform: translateX(-270px);
  }
  28% {
    transform: translateX(-280px);
  }
  28% {
    transform: translateX(-280px);
  }
  29% {
    transform: translateX(-290px);
  }
  29% {
    transform: translateX(-290px);
  }
  30% {
    transform: translateX(-300px);
  }
  30% {
    transform: translateX(-300px);
  }
  31% {
    transform: translateX(-310px);
  }
  31% {
    transform: translateX(-310px);
  }
  32% {
    transform: translateX(-320px);
  }
  32% {
    transform: translateX(-320px);
  }
  33% {
    transform: translateX(-330px);
  }
  33% {
    transform: translateX(-330px);
  }
  34% {
    transform: translateX(-340px);
  }
  34% {
    transform: translateX(-340px);
  }
  35% {
    transform: translateX(-350px);
  }
  35% {
    transform: translateX(-350px);
  }
  36% {
    transform: translateX(-360px);
  }
  36% {
    transform: translateX(-360px);
  }
  37% {
    transform: translateX(-370px);
  }
  37% {
    transform: translateX(-370px);
  }
  38% {
    transform: translateX(-380px);
  }
  38% {
    transform: translateX(-380px);
  }
  39% {
    transform: translateX(-390px);
  }
  39% {
    transform: translateX(-390px);
  }
  40% {
    transform: translateX(-400px);
  }
  40% {
    transform: translateX(-400px);
  }
  41% {
    transform: translateX(-410px);
  }
  41% {
    transform: translateX(-410px);
  }
  42% {
    transform: translateX(-420px);
  }
  42% {
    transform: translateX(-420px);
  }
  43% {
    transform: translateX(-430px);
  }
  43% {
    transform: translateX(-430px);
  }
  44% {
    transform: translateX(-440px);
  }
  44% {
    transform: translateX(-440px);
  }
  45% {
    transform: translateX(-450px);
  }
  45% {
    transform: translateX(-450px);
  }
  46% {
    transform: translateX(-460px);
  }
  46% {
    transform: translateX(-460px);
  }
  47% {
    transform: translateX(-470px);
  }
  47% {
    transform: translateX(-470px);
  }
  48% {
    transform: translateX(-480px);
  }
  48% {
    transform: translateX(-480px);
  }
  49% {
    transform: translateX(-490px);
  }
  49% {
    transform: translateX(-490px);
  }
  50% {
    transform: translateX(-500px);
  }
  50% {
    transform: translateX(-500px);
  }
  51% {
    transform: translateX(-510px);
  }
  51% {
    transform: translateX(-510px);
  }
  52% {
    transform: translateX(-520px);
  }
  52% {
    transform: translateX(-520px);
  }
  53% {
    transform: translateX(-530px);
  }
  53% {
    transform: translateX(-530px);
  }
  54% {
    transform: translateX(-540px);
  }
  54% {
    transform: translateX(-540px);
  }
  55% {
    transform: translateX(-550px);
  }
  55% {
    transform: translateX(-550px);
  }
  56% {
    transform: translateX(-560px);
  }
  56% {
    transform: translateX(-560px);
  }
  57% {
    transform: translateX(-570px);
  }
  57% {
    transform: translateX(-570px);
  }
  58% {
    transform: translateX(-580px);
  }
  58% {
    transform: translateX(-580px);
  }
  59% {
    transform: translateX(-590px);
  }
  59% {
    transform: translateX(-590px);
  }
  60% {
    transform: translateX(-600px);
  }
  60% {
    transform: translateX(-600px);
  }
  61% {
    transform: translateX(-600px);
  }
  61% {
    transform: translateX(-600px);
  }
  62% {
    transform: translateX(-600px);
  }
  62% {
    transform: translateX(-600px);
  }
  63% {
    transform: translateX(-600px);
  }
  63% {
    transform: translateX(-600px);
  }
  64% {
    transform: translateX(-600px);
  }
  64% {
    transform: translateX(-600px);
  }
  65% {
    transform: translateX(-600px);
  }
  65% {
    transform: translateX(-600px);
  }
  66% {
    transform: translateX(-600px);
  }
  66% {
    transform: translateX(-600px);
  }
  67% {
    transform: translateX(-600px);
  }
  67% {
    transform: translateX(-600px);
  }
  68% {
    transform: translateX(-600px);
  }
  68% {
    transform: translateX(-600px);
  }
  69% {
    transform: translateX(-600px);
  }
  69% {
    transform: translateX(-600px);
  }
  70% {
    transform: translateX(-600px);
  }
  70% {
    transform: translateX(-600px);
  }
}
.img_car {
  cursor: pointer;
  transition: 0.5s;
}
.img_car:hover {
  transform: translateY(-10px);
}

.recevoir_des_devis_gratuis {
  background-color: rgb(41, 78, 241);
  color: #fff;
  border-radius: 30px;
  padding: 15px 30px;
  font-weight: bold;
}

/*Footer*/
footer {
  width: 100%;
  background-color: black;
}

.conteneur_footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 30px;
  padding: 30px 0px;
}
.conteneur_footer h3 {
  color: rgb(252, 252, 254);
  font-size: 1.2rem;
  padding-bottom: 10px;
}
.conteneur_footer p {
  color: rgb(252, 252, 254);
  font-size: 0.9rem;
  padding: 10px 0px;
}
.conteneur_footer hr {
  border: 0.2px solid #444;
}

#premierParagraphFooter {
  color: #fff;
  font-size: 1rem;
}

.row_footer_1 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.row_footer_1 p {
  cursor: pointer;
}
.row_footer_1 p:hover {
  transform: translateX(10px);
  color: #fff;
}

.col_footer {
  width: 22%;
}
.col_footer input[type=email], .col_footer input[type=submit] {
  width: 100%;
  padding: 15px;
  border-radius: 30px;
}
.col_footer input[type=submit] {
  background-color: rgb(41, 78, 241);
  color: #fff;
  margin-top: 5px;
}

.ligne_bouton {
  display: flex;
  justify-content: flex-start;
}
.ligne_bouton .bouton_sans_libelle {
  margin: 20px 10px 20px 0px;
}

.row_footer_2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.row_footer_2 hr {
  margin: 30px 30px 0px 0px;
  width: 30%;
}
.row_footer_2 a {
  text-decoration: none;
  color: #c8c4c4;
}

/*# sourceMappingURL=style2.css.map */
